<h1>Welcome to the profile page for <%= @coach %></h1>


<form method="POST" action="/coaches/<%= @coach_index %>" >

  <input type="hidden" name="_method" value="delete">

  <!-- <input type="hidden" name="coach_name" value="<%= @coach %>"> -->

  <input type="submit" value="Delete Coach">
</form>
